:root {
    --cor-de-fundo: #8A8FC3;
    --cor-de-texto: #ffffff;
    --principais: #1E2550;
    --
}

body {
    background-color: var(--cor-de-fundo);
    color: hsl(0, 0%, 100%);
}

/*figma para organizar*/
header {
    background-color: var(--principais)
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: break-spaces;
}

img {
    width: 20%;

}

.imagem {
    width: 30%;

}



/* .baseboard {
    --cor-de-fundo: #1E2550;
    --cor-de-texto: #ffffff;
} */



#equipe {

    grid-template-columns: 10% 30% 30% 30%;;
    background-color: var(--principais);
    display: grid;
    align-items: center;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--principais);
}

header a {
    color: var(--cor-de-texto);
    text-decoration: wavy;
}

h5{
    margin:0;
}

section class{
    background-color: var(--cor-de-fundo);
    padding: 2px 51px;
}
