:root{
    --cor-de-fundo:#010631;
    --cor-de-texto:#ffffff;
    --branco:var(--branco)
}
body{
    background-color: #3360c996;
    color:#ffffff;
}
/*figma para organizar*/
header{
    background-color:#010631;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.imagem{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.apresentação{
    display: flex;
    padding:padding: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.baseboard {
    --cor-de-fundo: #010631;
    --cor-de-texto: #ffffff;
}
.equipe{
    display: flex;
    width: 20px;
    grid-template-columns: none;
    --cor-de-fundo: #010631;
    --cor-de-texto: #ffffff;
    padding:padding: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
.body{
    background-color: #010631;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
