:root{
    --cor-de-fundo:#150263;
    --cor-de-texto:#ffffff;
}
body{
    background-color: #3360c9c7;
    colo:var(--cor-de-fundo)
    display:flex;
}
header{
    background-color: #150263;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 20%;
}
.imagem{
    width: 30%;
}
.apresentação{
    display: flex;
    background-color: #150263;

}